html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to right, #592025 10%, #2C2D30 100%), #2C2D30;
    color: white;
    font-size: 20px;
    -webkit-text-stroke: 1px black; /* for Chrome and Safari */
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90vh;
    display: flex;
}

.sidebar {
    flex: 0 0 20%; /* this means the sidebar will not grow or shrink and will always take up 25% of the container's width */
    background: #2C2D30; /* replace with your preferred color */
    color: white;
    padding: 20px;
}

.main-area {
    flex: 1; /* this means the main area will take up the remaining space in the container */
    background: #1E1F22; 
    padding: 20px;
}

footer {
    display: none;
}

.sidebar-search {
    padding: 20px;
}

.search-input {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 22px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    background-color: #1E1F22;
    color: white;
    box-sizing: border-box;
}

button {
    position: relative; /* this is needed to position the pseudo-element */
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #3F414A;
    color: #000000;
    font-size: 25px;
    cursor: pointer;
    transition: .5s;
    border: 3px solid #A61414;
    margin-bottom: 20px;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #000000;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

button:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #A61414;
}

button:hover {
    color: #A61414;
    box-shadow: 0 0 20px #A61414;
    text-shadow: 0 0 15px #A61414;
}