{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <link href="{{url_for('static',filename='css/admin_styles.css')}}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% endblock %}
</head>
<body>
    {% block body %}
        <header>
            <h1>Kurator Music Database</h1>
        </header>
        <div id="content" class="container">
            <aside class="sidebar">
                <div class="sidebar-search">
                    <form id="search-form"> <!-- add action and method attributes -->
                        <button type="submit">Search</button>
                        <div class="search-input">
                            <label for="song">Song</label>
                            <input type="text" id="song" name="song">
                        </div>
                        <div class="search-input">
                            <label for="artist">Artist</label>
                            <input type="text" id="artist" name="artist">
                        </div>
                        <div class="search-input">
                            <label for="album">Album</label>
                            <input type="text" id="album" name="album">
                        </div>
                        <div class="search-input">
                            <label for="file">File</label>
                            <input type="text" id="file" name="file">
                        </div>
                        <button id="add-button">Add</button>
                    </form>
                </div>
            </aside>
            
            <main class="main-area">
                <!-- insert search results here -->
                <div class="results-header">
                    <div class="label">Song Name</div>
                    <div class="label">Artist(s)</div>
                    <div class="label">Album</div>
                    <div class="label">File Name</div>
                    <div class="label">Options</div>
                </div>
                <!-- template for results -->
                <div class="result-template">
                    {% for song in songs %}
                    <div class="song-name">{{song.song_name}}</div>
                    <div class="artist">{{song.artist}}</div>
                    <div class="album">{{song.album}}</div>
                    <div class="file-name">Example File</div>
                    <div class="result-button-container">
                        <button id="edit-button" class="results-button edit-button"><i class="fas fa-pencil-alt"></i></button>
                        <form id="delete-form" action="/deleteSong" method="POST">
                            <button class="results-button delete-button"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                    {% endfor %}
                    <!-- <div class="result-button-container">
                        <form id="delete-form" action="/deleteSong" method="POST">
                            <button class="results-button delete-button"><i class="fas fa-trash-alt"></i></button>
                        </form>
                        <button id="edit-button" class="results-button edit-button"><i class="fas fa-pencil-alt"></i></button>
                    </div> -->
                </div>
            </main>
        </div>
        
        <!-- Add Popup -->
        <div id="add-popup" class="popup">
            <div class="form-container">
                <div>
                    <h2>Add Entry</h2>
                </div>
                <form action="{{url_for('admin_index')}}" method = "POST">
                    {{ form.hidden_tag() }}
                    <ul>
                        <div class="add-input">
                            <li> {{ form.song_name.label }} {{ form.song_name() }} </li>
                        </div>
                        <div class="add-input">
                            <li> {{ form.artist.label }} {{ form.artist() }} </li>
                        </div>
                        <div class="add-input">
                            <li> {{ form.album.label }} {{ form.album() }} </li>
                        </div>
                        <div class="button-container">
                            <button id="close-add-popup">Cancel</button>
                            {{ form.submit() }}
                            <button id="confirm-add" type="submit">Submit</button>
                        </div>
                        
                    </ul>
            
                </form>
                
            </div>
        </div>

        <!-- Edit Popup -->
        <div id="edit-popup" class="popup">
            <div class="form-container">
                <div>
                    <h2>Edit Entry</h2>
                </div>
                <div class="input">
                    <label for="edit-song">Song</label>
                    <input type="text" id="edit-song" name="song">
                </div>
                <div class="input">
                    <label for="edit-artist">Artist</label>
                    <input type="text" id="edit-artist" name="artist">
                </div>
                <div class="input">
                    <label for="edit-album">Album</label>
                    <input type="text" id="edit-album" name="album">
                </div>
                <div class="input">
                    <label for="edit-file">File</label>
                    <input type="text" id="edit-file" name="file">
                </div>
                <div class="input">
                    <label for="edit-date-mod">Date Modified</label>
                    <input type="text" id="edit-date-mod" name="file">
                </div>
                <div class="input">
                    <label for="edit-date-created">Date Created</label>
                    <input type="text" id="edit-date-created" name="file">
                </div>
            </div>
            <div class="button-container">
                <button id="close-edit-popup">Cancel</button>
                <button id="confirm-edit">Confirm</button>
            </div>
            
        </div>
        
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
</body>
</html>