{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    {% block body %}
        <header>
            <h1>Kurator Music Database</h1>
        </header>
        
        <div id="content" class="container">
            <aside class="sidebar">
                <div class="sidebar-search">
                    <form id="search-form" action="{{ url_for('index') }}" method="GET"> <!-- add action and method attributes -->
                        <button type="submit">Search</button>
                        <div class="search-input">
                            <label for="song">Song</label>
                            <input type="text" id="song" name="search_song" value="{{ search_song }}">
                        </div>
                        <div class="search-input">
                            <label for="artist">Artist</label>
                            <input type="text" id="artist" name="search_artist" value="{{ search_artist }}">
                        </div>
                        <div class="search-input">
                            <label for="album">Album</label>
                            <input type="text" id="album" name="search_album" value="{{ search_album }}">
                        </div>
                        <div class="search-input">
                            <label for="file">File</label>
                            <input type="text" id="file" name="search_file" value="{{ search_file }}">
                        </div>
                    </form>
                </div>
            </aside>
            
            <main class="main-area">
                <!-- insert search results here -->
                <div class="results-header">
                    <div class="label">Song Name</div>
                    <div class="label">Artist(s)</div>
                    <div class="label">Album</div>
                    <div class="label">File Name</div>
                </div>
                <!-- template for results -->
                {% for song in songs %}
                    <div class="result-template">
                        <div class="song-name">{{song.song_name}}</div>
                        <div class="artist">{{song.artist}}</div>
                        <div class="album">{{song.album}}</div>
                        <div class="file-name">Example File</div>
                    </div>
                {% endfor %}
            </main>
        </div>
        
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
</body>
</html>