html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to right, #592025 10%, #2C2D30 100%), #2C2D30;
    color: white;
    font-size: 20px;
    -webkit-text-stroke: 1px black; /* for Chrome and Safari */
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-family: 'Krona One', sans-serif;
}

.container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90vh;
    display: flex;
    font-family: 'Krona One', sans-serif;
}

.sidebar {
    flex: 0 0 20%;
    background: #2C2D30;
    color: white;
    padding: 20px;
}

.main-area {
    flex: 1; /* this means the main area will take up the remaining space in the container */
    background: #1E1F22; 
    padding-top: 5px;
}

footer {
    display: none;
}

.sidebar-search {
    padding: 20px;
}

.search-input {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 22px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    background-color: #1E1F22;
    color: white;
    box-sizing: border-box;
}

#file {
    margin-bottom: 15px; /* adjust as needed */
}

button {
    position: relative; /* this is needed to position the pseudo-element */
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #3F414A;
    color: #000000;
    font-size: 25px;
    cursor: pointer;
    transition: box-shadow 0.5s ease, color 0.5s ease; /* animate the box-shadow and color */
    box-shadow: 0 0 0 2px #A61414;
    margin-bottom: 20px;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

button:hover::before {
    transform: scale(1);
    box-shadow: 0 0 15px #A61414;
}

button:hover {
    color: #A61414;
    box-shadow: 0 0 20px #A61414, 0 0 0 3px #bd1717;
    text-shadow: 0 0 15px #A61414;
}

#add-button {
    box-shadow: 0 0 0 2px #FDA403
}

#add-button:hover {
    color: #FDA403;
    box-shadow: 0 0 20px #FDA403, 0 0 0 3px #FBA834;
    text-shadow: 0 0 15px #FDA403;
}

.results-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #2C2D30;
    padding: 5px;
    color: #FFFFFF;
    font-size: 16px;
}

.label {
    flex: 1;
    text-align: center;
}

.result-template {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #FFFFFF;
    border-left: 3px solid #000000;
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    background: linear-gradient(to right, #592025, #1E1F22 60%);
}

.song-name, .artist, .album, .file-name {
    flex: 1;
    text-align: center;
}

.popup {
    display: none;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 800px;
    height: 480px;
    border: 2px solid #000000;
    background-color: #2C2D30;
    border-radius: 10px;
    padding: 10px;
}

.popup h2 {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Krona One', sans-serif;
    margin-top: 0.5;
    margin-top: 0;
}

#close-popup {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 150px;
    height: 50px;
    padding: 2px;
    font-size: 20px;
}

.popup-visible {
    display: grid;
}

.add-input {
    margin-bottom: 5px;
}

.popup input[type="text"] {
    width: 600px;
    height: 30px;
}

.popup label {
    color: #FFFFFF;
    font-family: 'Krona One', sans-serif;
    font-size: 14px;
}

.blur {
    filter: blur(5px);
}

#confirm-add {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 150px;
    height: 50px;
    padding: 2px;
    font-size: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
}